$font-size: 1rem;
$font-color-primary: #191919;
$font-color-secondary: #e6e6e6;
$font-color-ligth-gray: #b3b3b3;
$font-color-error: #c41e3a;
$font-family-title: "Playfair Display", serif;
$font-family-primary: "Helvetica", sans-serif;